MovieList.Setup\Debug
MovieList.Setup\Release
TestResults
[Oo]bj
[Bb]in
[Tt]humbs.db
[Dd]ebug
[Rr]elease
packages
.vs
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.resharper
*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb